@charset "utf-8";a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu111,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{margin:0;padding:0;border:0;outline:0}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none;font-family: "Microsoft YaHei","Microsoft JhengHei";}
article,aside,details,figcaption,figure,footer,header,hgroup,menu1,nav,section{display:block;clear:all}
.fl{float:left}.fr{float:right}.hide{display:none!important}.show{display:block!important}
.foot_comment{height:48px;border-top:1px solid #cdcdcd;position:fixed;left:0;right:0;bottom:0;width:100%;background:rgba(249,249,249,.9);z-index:900}
.foot_commentcont{clear:both;padding:9px 0 9px 20px;display:-webkit-box;display:box}
.foot_cmt_input{-webkit-box-flex:2;flex:2;margin:0;height:28px;line-height:28px;background:#fff;border:1px solid #ccc;color:#666;border-radius:2px}
.foot_cmt_input p{padding:0 10px;font-size:14px}
.foot_cmt_input a{color:#3990e6;font-size:14px;padding:0 4px}
.cmt_num_t,.foot_cmt_favor,.foot_cmt_share{background:url(addComment_ico.png) no-repeat}
.foot_cmt_num{-webkit-box-flex:1;flex:1;margin:0 6px;height:30px;line-height:26px;color:#3990e6;text-align:center;border-radius:2px}
.cmt_num_t{font-size:12px;display:inline-block;background-position:0 -136px;padding-left:26px;color:#3990e6}
.foot_cmt_share{-webkit-box-flex:1;flex:1;padding:0 6px;height:30px;line-height:30px}
.cmt_share{font-size:13px;display:inline-block;background-position:0 8px;padding-left:18px}
.foot_cmt_god{-webkit-box-flex:1;flex:1;margin:0 6px;height:28px;line-height:28px;background:#fff;border:1px solid #ccc;text-align:center;border-radius:2px}
.foot_cmt_god p{color:#3990e6;font-size:14px;padding:0 4px;cursor:pointer}
.foot_cmt_favor{-webkit-box-flex:1;flex:1;padding:0 6px;height:28px;line-height:28px;font-size:0;background-position:20px 3px}
.foot_cmt_favor.on{background-position:20px -93px}.cmnt_tp{height:30px;padding:10px 0;border-bottom:1px solid #eee}
.cmnt_pop{display:none;clear:both;overflow:hidden;font-size:14px;background:#f9f9f9}
.cmnt_wrap{margin:0 10px 10px}
.cmntarea{border:1px solid #d8d8d8;overflow:hidden;margin-bottom:10px;position:relative}
.cmntarea textarea{border:0;font-size:16px;height:80px;padding:5px 10px;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.cmnt_single{clear:both;margin:3px 0 0}
.cmnt_single .cmntarea textarea{height:40px;font-size:12px}
.cmnt_bm{clear:both;overflow:hidden;font-size:12px}
.cmnt_bm span{display:inline-block;height:20px;line-height:20px}
a.cmnt_smt{border:0;display:inline-block;width:60px;height:30px;line-height:30px;font-size:14px;color:#fff;text-align:center;cursor:pointer;background:#00a0fe}
.cmnt_single .cmnt_smt{width:36px;height:20px;line-height:20px;font-size:12px}
.cmnt_cancel{display:inline-block;width:60px;height:30px;line-height:30px;font-size:14px;color:#666;text-align:center;background:#eee}
.cmnt_login{height:50px;line-height:50px;font-size:14px;color:#347ed2;padding-right:120px;position:relative}
.unlogin{padding-right:40px}
.cmnt_login .fl{float:none;display:block;width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.cmnt_login .fr{float:none;position:absolute;right:0;top:0;display:inline-block;height:50px;line-height:50px}
.cmnt_login img{width:32px;height:32px;-moz-border-radius:16px;-webkit-border-radius:16px;border-radius:16px;margin-right:10px}
.cmnt_login a{color:#347ed2}.cmnt_login code{color:#999;font-size:12px}
.login{display:inline-block;height:32px;line-height:32px;background:url(../images/addComment.png) no-repeat;background-size:32px auto;background-position:0 -233px;padding-left:36px;margin-right:10px;vertical-align:middle}
.center_bg{position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.6);z-index:600}
.center_pic_bg{position:fixed;left:0;right:0;top:0;bottom:0;background:#000;z-index:600}
.god_close_ico{position:absolute;right:0;width:40px;height:40px;top:0;z-index:999;color:#fff;cursor:pointer}
.god_close_ico b{position:absolute;right:6px;top:6px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);width:28px;height:28px;-webkit-border-radius:50%;border-radius:50%;-webkit-user-select:none;-moz-user-select:none}
.god_close_ico b::before{content:'';position:absolute;height:20px;width:2px;left:14px;top:5px;background:#666}
.god_close_ico b::after{content:'';position:absolute;width:20px;height:2px;left:5px;top:14px;background:#666}
.comment_remind{position:fixed;top:0;left:0;right:0;z-index:999;height:44px;line-height:44px;font-size:14px;text-align:center;color:#fff;background:rgba(68,68,68,.9)}
.comment_remind p{display:block;font-size:14px;color:#fff}
.marker_t{text-align:center}
.center_marker_pic{position:absolute;z-index:600;left:0;right:0;top:0;bottom:0;text-align:center;line-height:100%;font-size:0}
.center_marker_pic img{vertical-align:middle;font-size:0}
@media screen and (max-width:320px){.center_marker_pic img{width:100%}}@media screen and (min-width:321px) and (max-width:800px){.center_marker_pic img{width:100%}}
.animation_marker{-webkit-animation:rotate_tk .5s .2s ease both;-moz-animation:rotate_tk .5s .2s ease both}@-webkit-keyframes rotate_tk{0%{opacity:0}100%{opacity:1}}@-moz-keyframes rotate_tk{0%{opacity:0}100%{opacity:1}}
.god_comment_box{display:none;padding:20px 0;background:#e6e6e6;position:fixed;bottom:44px;left:0;width:100%}
.god_comment_notice{font-size:12px;display:block;margin-left:3px;padding:0 18px;color:#666}
.god_comment_notice:hover{color:#666}.tips{padding-left:38px;background-position:16px -96px}
.god_comment{margin:20px 0;padding:0 18px}.god_comment strong{font-weight:400}
.god_comment span{display:inline-block;height:24px;line-height:24px;font-size:12px;background:#fff;padding:0 6px;margin:3px;cursor:pointer}
.god_comment .red{background:#eb6100;color:#fff}.god_comment .orange{background:#f39800;color:#fff}
.god_comment .yellow{background:#f3b700;color:#fff}
.god_comment em{position:relative;font-style:normal;background-position:4px -70px;padding-left:15px;font-size:10px}
.god_bg{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.6);z-index:500}
.god_count{font-style:normal}
.god_comment_fly{position:absolute;display:inline-block;background:url(../images/addComment.png) no-repeat;background-size:27px auto;background-position:0 -88px;width:28px;height:16px;left:8px;top:0;opacity:1;animation:comment_flying .6s;-webkit-animation:comment_flying .6s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}
@keyframes comment_flying{0%{background-size:27px auto;background-position:0 -88px;width:28px;height:16px;top:-4px;opacity:1}100%{transform:scale(1.3,1.3);top:-202px;opacity:.5}}@-webkit-keyframes comment_flying{0%{background-size:27px auto;background-position:0 -88px;width:28px;height:16px;top:-4px;opacity:1}100%{-webkit-transform:scale(1.3,1.3);top:-20px;opacity:.5}}
.tipsCeng{display:none}blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;white-space:nowrap}a img,fieldset,img{border:0}ol,ul{list-style:none}input:focus{outline:0}body{background-color:#111;color:#aaa;font-size:14px}a{text-decoration:none;color:#aaa;}
#header1{clear:both;margin:6px auto;display:block;width:100%;height:31px}
#header1 form{width:100%;margin:0 auto}
#header .logo{float:left}
.menu1{clear:both;margin-bottom:8px;border-radius:10px;overflow:hidden;height:35px;background-color:#333;line-height:35px;border:1px solid #444;}
.menu1 li{float:left;width:25%;text-align:center}
.menu1 li.s{width:25%}
.menu1 a{font-weight:900;font-size:16px;width:100%;float:left; color:#ffffff;}
#content{clear:both;overflow:hidden}
#footer{text-align:center;font-size:12px;padding:5px 2px;clear:both;margin-top:5px}
.c-box{margin:0 2px 0px 2px;border:1px solid #333;border-radius:5px;clear:both}
.c-box .title{background-color:#333;overflow:hidden;padding:0 8px;line-height:24px}
.c-box .title h1,.c-box .title h2,.c-box .title h3{float:left; height:30px; line-height:30px; font-size:14px; color:#FFF;}
.c-box .title h2 a{color:#67ab04}.c-box .title label{font-size:12px;float:right}
.c-box .title label a{margin:0 5px;color:#777}
.c-box .title label a.on{color:#eee}
.c-box .more{display:block;text-align:center;font-size:12px;background-color:#222;line-height:28px}
.c-box .more:hover{background-color:#444}.plist{clear:both;overflow:hidden;margin-top:3px}
.video{position:relative;}.plist li a{ font-size:0.86667rem;}
.video .pic{display:inline-block; width:100%;}
.video .pic:hover{border-color:#FF0000}
.video .set{position:absolute;display:block;font-size:0.86667rem;width:100%;overflow:hidden;left:1px;top:127px;height:1.5rem;line-height:1.5rem;text-align:right;color:#DDDDDD;background: rgba(0,0,0,0.6);}
.video .set:hover{color:#ff0;text-decoration:none}
.video .flag{position:absolute;top:5px;left:5px;display:inline-block;padding:2px 5px;line-height:16px;background-color:#000;color:#fff;border-radius:5px;font-size:12px}
.error404{text-align:center;padding:40px 0 20px 0}h1.c{color:#eee;font-size:18px}h1.c sub{font-size:12px;color:#888;vertical-align:baseline;margin-left:10px}
.c-info{padding:10px 8px;font-size:12px;overflow:hidden}.c-info .info{padding:6px 0;overflow:hidden}
.c-info .pic{float:left;width:105px;height:135px}.c-info .pic img{padding:1px;border:1px solid #555}
.c-info .detail{float:left;height:135px;overflow:hidden}.c-info .detail p{line-height:21px}
.c-info .detail p label{padding-left:40px}.c-info .intro{border-top:1px solid #333;overflow:hidden;clear:both;padding-top:8px}
.c-info .intro img{width:50%;height:50%}.len{width:160px;height:21px;overflow:hidden}.ptab{clear:both;padding:6px;overflow:hidden}
.ptab dt{border-bottom:2px solid #222;text-align:center; font-weight:900;height:22px;line-height:22px;padding-left:8px;border-radius:3px}
.ptab dd{padding:8px 0}.ptab dd li{border:1px solid #222;float:left;margin:1%;width: 22.3%;text-align: center;border-radius:2px;}
.ptab dd li a{display:block;padding:20px 11px;background-color:#1f1f1f;color:#bbb}
.ptab dd li img{margin-right:-15px;margin-top:-15px}
#player{background-color:#000;height:230px;background-repeat:no-repeat;background-position:center;cursor:pointer}
.my-list{padding:5px}.my-list li{border-bottom:1px solid #333;line-height:28px;height:28px;font-size:12px}
.my-list li span{color:#333}button,input{background:none repeat scroll 0 0 transparent;border-radius:0;outline:0 none}
.ls-col1{padding-top:8px;font-size:12px;color:#aaa;line-height:1}
.ls-col1 a{width:100%;float:left;padding:10px;border-bottom:1px solid #333}.ls-col1>li{height:90px}
.ls-col1>li:active{background-color:rgba(0,0,0,.1)}.ls-col1.tvshow>li{height:80px}.ls-col1.tvshow .poster{width:90px;height:60px}
.ls-col1.tvshow .titles{white-space:normal;line-height:20px;height:40px;margin-top:2px;overflow:hidden}
.ls-col1 .poster{float:left;margin-right:10px;width:100px;height:70px;background-size:70px auto;background-color:#cacaca;background-repeat:no-repeat;background-position:center center}
.ls-col1 .img{width:100%;height:100%;background-size:100% 100%}
.ls-col1 .titles{line-height:30px;font-size:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ls-col1 .brief{color:#7c7c7c;font-size:12px;line-height:150%;height:36px;overflow:hidden}
.menu1 input{display:none}.menu1 em{font-style:normal;margin-left:12px}
.video img{width:100%;height:150px;border: 1px solid #555555;}.pagelink_b{margin-left:10px}
.pagenow{margin-left:10px}
#weui_btn{border:1px solid #cf0617;line-height:30px;height:30px;color:#fff;font-weight:700;width:100%;display:block}
.radius_avatar{display:inline-block;background-color:#fff;padding:3px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;overflow:hidden;vertical-align:middle}
.radius_avatar img{width:100%;height:100%;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background-color:#eee}
.loadmore{margin:20px 0;font-size:14px;min-height:24px;text-align:center}
.profile_info{clear:both;border-radius:5px;border:1px solid #444;margin-bottom:8px;overflow:hidden;background-color:#333;color:#fff;padding:10px 20px;text-align:center;position:relative}
.profile_info .profile_avatar{width:50px;height:50px;margin-bottom:8px}
.profile_info .profile_nickname{display:block;font-weight:400;font-size:18px;margin-bottom:8px}
.profile_info .profile_desc{font-size:14px;margin-bottom:6px;color:#8c8c8c;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;word-wrap:break-word;word-break:break-all}
.profile_info .profile_opr{padding:4px 0;height:30px;clear:both;border-radius:5px;border:1px solid #400000;overflow:hidden;background-color:#cf0617;font-size:16px;text-align:center;color:#fff}
.zzh{clear:both;border-radius:10px;margin-bottom:8px;overflow:hidden;height:30px;background-color:#333;line-height:30px;font-size:16px;text-align:center;color:#fff}.shibie{clear:both;border-radius:10px;margin-bottom:8px;overflow:hidden;height:30px;background-color:#cf0617;line-height:30px;font-size:16px;text-align:center;color:#fff}
.saom{margin-bottom:8px;width:100%;display:block}#shibai{color:#fff;font-size:14px;font-weight:700;width:100%;height:30px;display:block}
.tuij{ height:90px; background-color:#FFF;padding: 2px 0px;margin-bottom:8px;}
.tuij li{float:left;text-align:center;white-space:nowrap;overflow:hidden;width:32%;margin:0px 0 0px 1%}
.tuijj{position:relative}.tuijj img{width:100%;height:90px}
.tuijj .pic{display:inline-block;height:90px;width:100%}
.tuijj .set{position:absolute;display:block;font-size:12px;width:100%;overflow:hidden;top:74px;height:16px;line-height:16px;text-align:center;color:#fff;background:#000 none repeat scroll 0 0;opacity:0.6;}
#page1{clear:both;text-align:center;margin-bottom:5px;border-radius:5px;border:1px solid #444;overflow:hidden;height:30px;background-color:#333;line-height:30px}
#page li{float:left;width:25%;text-align:center}
#page li.s{width:25%}
#page a{color:#eee;font-weight:700;font-size:18px;padding:0 6px;}
#content{clear:both;overflow:hidden}
#page input{display:none}
#page em{font-style:normal;margin-left:12px}
.current{ background-color:#555555;border-radius:10px;}
.zzh span{ color:#F00;text-decoration:underline;}
.fenx{padding:2px 2px 2px 2px;background-color:#333;border-radius:3px;margin-bottom:8px;}
.yydd{background-color:#CF0618; height:30px; line-height:30px; color:#FFF; font-size:14px; font-weight:bold; margin-bottom:8px; padding-left:26px;}
.jiantou{float:right; margin-right:16px;}.sousuo{width:100%;display:block}
.ssoo{float:right;color:#FF0;font-weight:900;}.tuigao{overflow:hidden;margin-bottom:8px;height:90px;}
.tuigao img{ display:block; margin:-10px auto 0;max-width:none;}

/*视频三图 */
.list_tab_img li{ padding-bottom:0.4rem;float: left; width: 32%; overflow:hidden;position:relative; margin-top:8px;}
.list_tab_img li h2 a{ color:#000}
.list_tab_img li:nth-child(3n+1){ float: left;}
.list_tab_img li:nth-child(3n+3){ float: right; }
.list_tab_img li:nth-child(3n+2) {margin-left:2.28%;}
.list_tab_img li .uptime{height:1.167rem;background:url(../images/dotbg.gif) repeat-x 0 center;text-align:center;margin-top:0.267rem}
.list_tab_img li .uptime p{width:5rem;height:1.167rem;line-height:1.167rem;text-align:center;background:#94c8d7;border-radius:2px;margin:0 auto;color:#FFF; font-size:0.8rem}
.list_tab_img li img,.new_tab_img li img{width: 100%; border:0;-webkit-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;-ms-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out}
.list_tab_img li p{ height:1.3rem;line-height:1.3rem; color:#999; overflow:hidden}
.list_tab_img li p a{color:#999;}
.list_tab_img li label,.list_tab_img li h2,.new_tab_img li label{ overflow:hidden;}
.list_tab_img li label.iRankNum,.new_tab_img li label.iRankNum{ position: absolute; top: 0; left: 0; z-index: 5; overflow: hidden; }
.list_tab_img li label.iRankNum:after,.new_tab_img li label.iRankNum:after{ content: ""; width: 100%; height: 100%; position: absolute; z-index: 6; background-color: #999; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.list_tab_img li label.iRankNum em,.new_tab_img li label.iRankNum em{ position: absolute; top: 0; left: 0; text-align: center; color: #fff; z-index: 10; }
.list_tab_img li:nth-child(1) label.iRankNum:after,.new_tab_img li:nth-child(1) label.iRankNum:after{ background-color: #f30; }
.list_tab_img li:nth-child(2) label.iRankNum:after,.list_tab_img li:nth-child(3) label.iRankNum:after,.new_tab_img li:nth-child(2) label.iRankNum:after,.new_tab_img li:nth-child(3) label.iRankNum:after{ background-color: #f46767; }
.list_tab_img li:nth-child(3) label.iRankNum:after,.new_tab_img li:nth-child(3) label.iRankNum:after { background-color: #fba4a4; }
.list_tab_img li label.namer{position:absolute;width:auto;color:#FFF;padding:0 1px;bottom:15px;z-index:3;right:0px;background:#7A7B7D;background:rgba(0,0,0,0.4)}
.list_tab_img li label.name{width: 100%;position:absolute;color:#FFF;bottom:0;z-index:3;right:0px;background:#7A7B7D;background:rgba(0,0,0,0.4);text-align:center}
.list_tab_img li label.title{position:absolute;width:auto;color:#FFF;top:0px;z-index:3;right:0px;background:#7A7B7D;background:rgba(0,0,0,0.4);text-shadow:none;}
.list_tab_img li label.score{display:block;width:auto;text-align:center;overflow:hidden;color:#fff;position:absolute;left:0;bottom:0;z-index:3;-webkit-text-size-adjust:none;background:#1F87CB;font-weight:700}
.list_tab_img li label.status,.vod-n-img .status{ background-image: url("../images/status.png"); background-repeat: no-repeat; position: absolute;left:0;top:0;display:block; overflow: hidden; line-height: 0;background-size: 1.767rem 1.767rem; width:1.767rem; height:1.767rem; }

.list_tab_img li .picsize{position:relative;}
.list_tab_img .star-info{width:100%;height:auto;background:#7143A1;line-height:1.2rem;margin-top:1px;color:#CE9FFF; padding:0.4rem 0 0.4rem 0}
.list_tab_img .star-info p {color:#CE9FFF; font-size:0.867rem;line-height:1.2rem;height:1.2rem;}
.list_tab_img .star-info h2 a,.list_tab_img .star-info a:hover{color:#fff !important}
.list_tab_img li:hover .star-info{background:#9EB22F;color:#e4f293}
.list_tab_img li:hover .star-info p {color:#e4f293;}
@media only screen {
.modo_title .icol,.modo_title .icols,.modo_title .icor,.modo_title h2,.list_title h2{font-size: 1.2rem;}
.modo_title,.list_title{line-height: 2.53333rem; height:2.53333rem}	
.list_tab_img li label,.new_tab_img li label{line-height: 1.5rem; height:1.5rem;font-weight:normal;font-size: 0.86667rem;}
.list_tab_img li h2{line-height: 1.5rem; height:1.5rem;font-weight:normal;font-size: 1rem;}
.list_tab_img li label.score,.new_tab_img li label.score{ padding-left:0.3rem; padding-right:0.3rem;}
.list_tab_img li p,.list_title span{font-size:0.867rem;}
.list_tab_img li label.title{height:1.333rem;line-height:1.333rem;padding-left:0.267rem; padding-right:0.267rem;}
.list_tab_img .star-info{text-indent:0.5rem;}
.list_tab_er_img li label.text,.list_tab_san_img li label.text,.new_tab_er_img li label.text{height:1.267rem;font-size:0.86667rem;line-height: 1.267rem}
.new_tab_img .list_info h2 a{font-size:1rem;height:1.267rem;line-height: 1.267rem;}
.new_tab_img .list_info{ margin-left:0.5rem;font-size:0.86667rem}
.new_tab_img .list_info p{ height:1.267rem;line-height: 1.267rem;font-size:0.86667rem}
.selectList { padding-bottom: 0.4rem; position:relative; width:100%; margin-left:auto; margin-right:auto; background:#FFF}
.selectList li { padding-top:0.2rem; padding-bottom:0.2rem; }
.selectList li p { padding-right:2.4rem; }
.selectList li a { line-height:1.8rem; font-size:0.97rem; padding: 0 0.5rem; }
.iNewIcon { background-size: 1.4rem 1.4rem; width:1.4rem; height:1.4rem; } 

#xwajaxpage{    clear: both;text-align: center; margin-bottom: 5px; border-radius: 5px; border: 1px solid #444; overflow: hidden; height: 30px; background-color: #333;line-height: 30px;}
#xwajaxpage img { width:30px; height:30px; vertical-align:middle;}
#xwajaxpage span {margin:0;}
.nobf{color: #f30; line-height: 16px; padding: 8px; border: 1px solid #e6d8b9; position: relative; background: 7px center no-repeat #feffe6; border-radius: 4px; zoom: 1; font-size: 14px; margin: 0px 2px 0px; text-align:center;}
.bfy{margin: 0 2px 0px 2px; border: 1px solid #333;border-radius: 5px; height:35px; padding-top:15px; margin-top:6px;}
.bfy span{float:left; margin-left:4px;}
.bfy a{float:left;display: block;padding: 6px; margin-top:-6px; margin-left:4px; background-color: #ca4623; color: #fff; border-radius: 3px;}
.hongbaoa {position:fixed;width:75px;height:75px;right:-10px;bottom:100px;z-index:9999;top:100px;}




.cat__title .title--more{float:right;padding-left:20px;color:#a3a1ff;font-weight:700;font-size:16px;line-height:26px}
.cat__list{margin-bottom:1.5em;padding-right:15px}.cat__list .vod__item{padding-right:0;margin-bottom:1.2em}
.cat__list .item__link{display:block;width:100%;height:100%}
.cat__list .vod__img--responsive{position:relative;max-width:100%;height:0;padding-bottom:133.33%;overflow:hidden;border-radius:.5em;box-shadow:0 4px 6px rgba(0,0,0,.2)}
.cat__list .vod__img{max-width:100%}
.cat__list .vod__stat{position:absolute;right:0;top:0;color:#fff;font-size:12px;padding:2px 5px;border-bottom-left-radius:6px;background-color:#a3a1ff}
.cat__list .vod__title{padding-top:4px;font-size:16px;text-align:center;color:#333;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}




.col-xs-4{width:33.33333333%}

.col-sm-3{width:25%}
.col-md-2{width:16.66666667%}